# This is Git's per-user configuration file.
[alias]
	co = checkout
	br = branch
	ci = commit
	s = status
    l = log
[user]
	name = Michael Broll
	email = michael.broll@getcruise.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	tool = vimdiff
